body {
    background-color: black;
}
h1 {
    color: white;
    font-family: arial;
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
}
h2 {
    color: white;
    font-family: arial;
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
}
h3 {
  color: white;
  font-family: arial;
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
 position: absolute;
  left: 80%;
  top: 4.5%;
}

a {
    color: white;
    font-family: arial;
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
}

.a1 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 99.7%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a2 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 98.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a3 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 97%;
    margin-left: -3px;
    top: 9.2%;
    
  }
  .a4 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 95%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a5 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 94%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a6 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 92.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a7 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 91%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a8 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 89%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a9 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 87%;
    margin-left: -3px;
    top: 9.2%;
  }
  

  .a10 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 85.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a11 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 83%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a12 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 80.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a13 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 79%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a14 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 77.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a15 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 76%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a16 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 74%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a17 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 72.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a18 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 71%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a19 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 69%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a20 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 67.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a21 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 66%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a22 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 62.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a23 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 53%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a24 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 47.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  
  .a25 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 44%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a26 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 29%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a27 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 26%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a28 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 23%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a29 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    left: 21%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a30 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 81%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a31 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 84.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a32 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 87%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a33 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 89.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a34 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 91.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a35 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 92.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a36 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 94.5%;
    margin-left: -3px;
    top: 9.2%;
  }
  .a37 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 85%;
    margin-left: -3px;
    top: 24%;
  }
  .a38 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 83%;
    margin-left: -3px;
    top: 24%;
  }
  .a39 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 81.5%;
    margin-left: -3px;
    top: 24%;
  }
  
  .a40 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 76%;
    margin-left: -3px;
    top: 24%;
  }
  .a41 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 70%;
    margin-left: -3px;
    top: 24%;
  }
  .a42 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 68%;
    margin-left: -3px;
    top: 24%;
  }
  .a43 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 66%;
    margin-left: -3px;
    top: 24%;
  }
  .a45 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 63%;
    margin-left: -3px;
    top: 24%;
  }
  .a46 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 41%;
    margin-left: -3px;
    top: 24%;
  }
  .a47 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 30.5%;
    margin-left: -3px;
    top: 24%;
  }
  .a48 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 19.5%;
    margin-left: -3px;
    top: 24%;
  }
  .a49 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 17%;
    margin-left: -3px;
    top: 24%;
  }
  .a50 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 14%;
    margin-left: -3px;
    top: 24%;
  }
  .a51 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 5.5%;
    margin-left: -3px;
    top: 24%;
  }
  .a52 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 2%;
    margin-left: -3px;
    top: 39%;
  }
  .a53 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 8%;
    margin-left: -3px;
    top: 39%;
  }
  .a54 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 10%;
    margin-left: -3px;
    top: 39%;
  }
  .a55 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 12%;
    margin-left: -3px;
    top: 39%;
  }
  .a56 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 13.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a57 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 16%;
    margin-left: -3px;
    top: 39%;
  }
  .a58 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 18%;
    margin-left: -3px;
    top: 39%;
  }
  .a59 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 20%;
    margin-left: -3px;
    top: 39%;
  }
  .a60 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 22%;
    margin-left: -3px;
    top: 39%;
  }
  .a61 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 24%;
    margin-left: -3px;
    top: 39%;
  }
  .a62 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 26%;
    margin-left: -3px;
    top: 39%;
  }
  .a63 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 31%;
    margin-left: -3px;
    top: 39%;
  }
  .a64 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 33%;
    margin-left: -3px;
    top: 39%;
  }
  .a65 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 35%;
    margin-left: -3px;
    top: 39%;
  }
  .a66 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 37%;
    margin-left: -3px;
    top: 39%;
  }
  .a67 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 39%;
    margin-left: -3px;
    top: 39%;
  }
  
  .a68 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 41%;
    margin-left: -3px;
    top: 39%;
  }
  .a69 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 44.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a70 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 46%;
    margin-left: -3px;
    top: 39%;
  }
  .a71 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 47.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a72 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 49%;
    margin-left: -3px;
    top: 39%;
  }
  
  .a73 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 55.5%;
    margin-left: -3px;
    top: 39%;
  }
  
  .a74 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 58.5%;
    margin-left: -3px;
    top: 39%;
  }

  .a75 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 60.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a76 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 62%;
    margin-left: -3px;
    top: 39%;
  }
  .a77 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 64%;
    margin-left: -3px;
    top: 39%;
  }
  .a78 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 67.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a79 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 69.7%;
    margin-left: -3px;
    top: 39%;
  }
  .a80 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 73.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a81 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 76.5%;
    margin-left: -3px;
    top: 39%;
  }
  .a82 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 79%;
    margin-left: -3px;
    top: 39%;
  }
  
  .a83 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 82%;
    margin-left: -3px;
    top: 39%;
  }
  
  
  .a84 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 89.5%;
    margin-left: -3px;
    top: 39%;
  }
  
  
  .a85 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 95.5%;
    margin-left: -3px;
    top: 39%;
  }
  
  
  .a86 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 97%;
    margin-left: -3px;
    top: 39%;
  }
  .a87 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 96.5%;
    margin-left: -3px;
    top: 54%;
  }
  
  .a88 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 94%;
    margin-left: -3px;
    top: 54%;
  }
  .a89 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 92%;
    margin-left: -3px;
    top: 54%;
  }
  .a90 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 90%;
    margin-left: -3px;
    top: 54%;
  }
  .a91 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 86%;
    margin-left: -3px;
    top: 54%;
  }
  .a92 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 82.5%;
    margin-left: -3px;
    top: 54%;
  }
  .a93 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 81%;
    margin-left: -3px;
    top: 54%;
  }
  .a94 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 76%;
    margin-left: -3px;
    top: 54%;
  }

  .a95 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 72.5%;
    margin-left: -3px;
    top: 54%;
  }
  .a96 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 70%;
    margin-left: -3px;
    top: 54%;
  }
  .a97 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 68%;
    margin-left: -3px;
    top: 54%;
  }
  .a98 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 66%;
    margin-left: -3px;
    top: 54%;
  }
  .a99 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 63%;
    margin-left: -3px;
    top: 54%;
  }
  .a100 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 61%;
    margin-left: -3px;
    top: 54%;
  }

  .a101 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 54%;
    margin-left: -3px;
    top: 54%;
  }
  .a102 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 50.5%;
    margin-left: -3px;
    top: 54%;
  }
  .a103 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 49%;
    margin-left: -3px;
    top: 54%;
  }
  .a104 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 42.5%;
    margin-left: -3px;
    top: 54%;
  }
  .a105 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 41%;
    margin-left: -3px;
    top: 54%;
  }
  .a106 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 39.8%;
    margin-left: -3px;
    top: 54%;
  }
  .a107 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 31%;
    margin-left: -3px;
    top: 54%;
  }

  .a108 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 22%;
    margin-left: -3px;
    top: 54%;
  }

  .a109 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 20%;
    margin-left: -3px;
    top: 54%;
  }
  .a110 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 17.5%;
    margin-left: -3px;
    top: 54%;
  }




  .a111 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 12.5%;
    margin-left: -3px;
    top: 54%;
  }

  .a112 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 11%;
    margin-left: -3px;
    top: 54%;
  }

  .a113 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 9.6%;
    margin-left: -3px;
    top: 54%;
  }
  .a114 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: .7%;
    margin-left: -3px;
    top: 54%;
  }
  .a115 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 1%;
    margin-left: -3px;
    top: 69%;
  }
  .a116 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 5.5%;
    margin-left: -3px;
    top: 69%;
  }
  .a117 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 10.2%;
    margin-left: -3px;
    top: 69%;
  }

  .a118 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 14.5%;
    margin-left: -3px;
    top: 69%;
  }

  .a119 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 16%;
    margin-left: -3px;
    top: 69%;
  }

  .a120 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right: 17.5%;
    margin-left: -3px;
    top: 69%;
  }

  .a121 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:18.5%;
    margin-left: -3px;
    top: 69%;
  }
   .a122 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:20.3%;
    margin-left: -3px;
    top: 69%;
  }
  .a123 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:23.7%;
    margin-left: -3px;
    top: 69%;
  }
  .a124 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:33.8%;
    margin-left: -3px;
    top: 69%;
  }
  .a125 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:39.4%;
    margin-left: -3px;
    top: 69%;
  }
  .a126 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:40.6%;
    margin-left: -3px;
    top: 69%;
  }
  .a127 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:46.1%;
    margin-left: -3px;
    top: 69%;
  }
  .a128 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:50.4%;
    margin-left: -3px;
    top: 69%;
  }
  .a129 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:52.5%;
    margin-left: -3px;
    top: 69%;
  }
  .a130 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:55%;
    margin-left: -3px;
    top: 69%;
  }
  .a131 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:56.5%;
    margin-left: -3px;
    top: 69%;
  }
  .a132 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:58.5%;
    margin-left: -3px;
    top: 69%;
  }

  .a133 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:60%;
    margin-left: -3px;
    top: 69%;
  }
  .a134 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 84%;
  }
  .a135 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 99%;
  }
  
  .l {
    border-left: 6px solid #e2363d;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 9.2%;
   z-index: -1;
  }

  .l1 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 24%;
    z-index: -1;
  }
  .l2 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 39%;
    z-index: -1;
  }
  .l3 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 54%;
    z-index: -1;
  }
  .l4 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 69%;
    z-index: -1;
  }
 
  .l5 {
    border-left: 6px solid white;
    height: 500px;
    position: absolute;
    right:0%;
    margin-left: -3px;
    top: 99%;
    z-index: -1;
  }
 
 
  
  
  
  .ellipse {
    position: absolute;
    left:-.2%;
    top:22.1%;
  }
  .ellipse2 {
    position: absolute;
    left:.5%;
    top:22.9%;
  }
  .ellipse3 {
    position: absolute;
    right:-.5%;
    top:37%;
  }
  .ellipse4 {
    position: absolute;
    right:.3%;
    top:37.7%;
  }
  .ellipse5 {
    position: absolute;
    left:-.2%;
    top:52%;
  }
  .ellipse6 {
    position: absolute;
    left:.5%;
    top:52.65%;
  }
  .ellipse7 {
    position: absolute;
    right:-.2%;
    top:67%;
    z-index:-1;
  }
  .ellipse8 {
    position: absolute;
    right:.5%;
    top:67.6%;
    
  }
  
  .ellipse9 {
    position: absolute;
    left:-.2%;
    top:82%;
    z-index:-1;
  }
  .ellipse10 {
    position: absolute;
    left:.5%;
    top:82.65%;
    
  }
  .ellipse11 {
    position: absolute;
    right:-.2%;
    top:97%;
    z-index:-1;
  }
  .ellipse12 {
    position: absolute;
    right:.5%;
    top:97.7%;
    
  }
  .rect1 {
    position: absolute;
    right:-.7%;
    top:37%;
    
  }
  .rect2 {
    position: absolute;
    right:-.7%;
    top:67%;
    
  }
  .rect3 {
    position: absolute;
    right:-.7%;
    top:97%;
    
  }
  
  
  
  
  
  
  
  
  
  


/* Tooltip container */
.tooltip {
    position: absolute;
    display: inline-block;
 left: 99.4%;
 top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }




  /* Tooltip container */
.tooltip2 {
  position: absolute;
  display: inline-block;
left: 98.3%;
top:9%;
}

/* Tooltip text */
.tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
}



  /* Tooltip container */
  .tooltip3 {
    position: absolute;
    display: inline-block;
  left: 97.5%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip3 .tooltiptext3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip3:hover .tooltiptext3 {
    visibility: visible;
    opacity: 1;
  }
  



  /* Tooltip container */
  .tooltip4 {
    position: absolute;
    display: inline-block;
  left: 95.5%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext4 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip4 .tooltiptext4::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip4:hover .tooltiptext4 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip5 {
    position: absolute;
    display: inline-block;
  left: 93.7%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext5 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip5 .tooltiptext5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip5:hover .tooltiptext5 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip6 {
    position: absolute;
    display: inline-block;
  left: 92.3%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext6 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip6 .tooltiptext6::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip6:hover .tooltiptext6 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip7 {
    position: absolute;
    display: inline-block;
  left: 90.8%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext7 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip7 .tooltiptext7::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip7:hover .tooltiptext7 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip8 {
    position: absolute;
    display: inline-block;
  left: 88.68%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext8 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip8 .tooltiptext8::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip8:hover .tooltiptext8 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip9 {
    position: absolute;
    display: inline-block;
  left: 86.8%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext9 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip9 .tooltiptext9::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip9:hover .tooltiptext9 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip10 {
    position: absolute;
    display: inline-block;
  left: 85.4%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext10 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip10 .tooltiptext10::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip10:hover .tooltiptext10 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip11 {
    position: absolute;
    display: inline-block;
  left: 83.9%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext11 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip11 .tooltiptext11::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip11:hover .tooltiptext11 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip12 {
    position: absolute;
    display: inline-block;
  left: 81.3%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext12 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip12 .tooltiptext12::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip12:hover .tooltiptext12 {
    visibility: visible;
    opacity: 1;
  }
  


  



  /* Tooltip container */
  .tooltip13 {
    position: absolute;
    display: inline-block;
  left: 78.65%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext13 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip13 .tooltiptext13::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip13:hover .tooltiptext13 {
    visibility: visible;
    opacity: 1;
  }
  
  



  /* Tooltip container */
  .tooltip14 {
    position: absolute;
    display: inline-block;
  left: 77.7%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext14 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip14 .tooltiptext14::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip14:hover .tooltiptext14 {
    visibility: visible;
    opacity: 1;
  }
  



  /* Tooltip container */
  .tooltip15 {
    position: absolute;
    display: inline-block;
  left: 75.8%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext15 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip15 .tooltiptext15::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip15:hover .tooltiptext15 {
    visibility: visible;
    opacity: 1;
  }
  




  

  /* Tooltip container */
  .tooltip16 {
    position: absolute;
    display: inline-block;
  left: 74%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext16 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip16 .tooltiptext16::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip16:hover .tooltiptext16 {
    visibility: visible;
    opacity: 1;
  }
  


  /* Tooltip container */
  .tooltip17 {
    position: absolute;
    display: inline-block;
  left: 72.35%;
  top:9%;
  }
  
  /* Tooltip text */
  .tooltiptext17 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: arial;
    font-weight: lighter;
    font-size: 10px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip17 .tooltiptext17::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip17:hover .tooltiptext17 {
    visibility: visible;
    opacity: 1;
  }
  


/* Tooltip container */
.tooltip18 {
  position: absolute;
  display: inline-block;
left: 70.8%;
top:9%;
}

/* Tooltip text */
.tooltiptext18 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip18 .tooltiptext18::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip18:hover .tooltiptext18 {
  visibility: visible;
  opacity: 1;
}



/* Tooltip container */
.tooltip19 {
  position: absolute;
  display: inline-block;
left: 68.65%;
top:9%;
}

/* Tooltip text */
.tooltiptext19 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip19 .tooltiptext19::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip19:hover .tooltiptext19 {
  visibility: visible;
  opacity: 1;
}








/* Tooltip container */
.tooltip20 {
  position: absolute;
  display: inline-block;
left: 67.2%;
top:9%;
}

/* Tooltip text */
.tooltiptext20 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip20 .tooltiptext20::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip20:hover .tooltiptext20 {
  visibility: visible;
  opacity: 1;
}





/* Tooltip container */
.tooltip21 {
  position: absolute;
  display: inline-block;
left: 65.8%;
top:9%;
}

/* Tooltip text */
.tooltiptext21 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip21 .tooltiptext21::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip21:hover .tooltiptext21 {
  visibility: visible;
  opacity: 1;
}




/* Tooltip container */
.tooltip22 {
  position: absolute;
  display: inline-block;
left: 64.4%;
top:9%;
}

/* Tooltip text */
.tooltiptext22 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip22 .tooltiptext22::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip22:hover .tooltiptext22 {
  visibility: visible;
  opacity: 1;
}




/* Tooltip container */
.tooltip23 {
  position: absolute;
  display: inline-block;
left: 60.2%;
top:9%;
}

/* Tooltip text */
.tooltiptext23 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip23 .tooltiptext23::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip23:hover .tooltiptext23 {
  visibility: visible;
  opacity: 1;
}



/* Tooltip container */
.tooltip24 {
  position: absolute;
  display: inline-block;
left: 50.7%;
top:9%;
}

/* Tooltip text */
.tooltiptext24 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip24 .tooltiptext24::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip24:hover .tooltiptext24 {
  visibility: visible;
  opacity: 1;
}






/* Tooltip container */
.tooltip25 {
  position: absolute;
  display: inline-block;
left: 42.5%;
top:9%;
}

/* Tooltip text */
.tooltiptext25 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip25 .tooltiptext25::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip25:hover .tooltiptext25 {
  visibility: visible;
  opacity: 1;
}




/* Tooltip container */
.tooltip26 {
  position: absolute;
  display: inline-block;
left: 27.7%;
top:9%;
}

/* Tooltip text */
.tooltiptext26 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip26 .tooltiptext26::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip26:hover .tooltiptext26 {
  visibility: visible;
  opacity: 1;
}









/* Tooltip container */
.tooltip27 {
  position: absolute;
  display: inline-block;
left: 59%;
top: 23.6%;
}

/* Tooltip text */
.tooltiptext27 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip27 .tooltiptext27::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip27:hover .tooltiptext27 {
  visibility: visible;
  opacity: 1;
}






/* Tooltip container */
.tooltip28 {
  position: absolute;
  display: inline-block;
left:69.5%;
top:23.6%;
}
/* Tooltip text */
.tooltiptext28 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip28 .tooltiptext28::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip28:hover .tooltiptext28 {
  visibility: visible;
  opacity: 1;
}







/* Tooltip container */
.tooltip29 {
  position: absolute;
  display: inline-block;
left:80.45%;
top:23.6%;
}
/* Tooltip text */
.tooltiptext29 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip29 .tooltiptext29::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip29:hover .tooltiptext29 {
  visibility: visible;
  opacity: 1;
}




/* Tooltip container */
.tooltip30 {
  position: absolute;
  display: inline-block;
left:24%;
top:23.6%;
}
/* Tooltip text */
.tooltiptext30 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip30 .tooltiptext30::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip30:hover .tooltiptext30 {
  visibility: visible;
  opacity: 1;
}




/* Tooltip container */
.tooltip31 {
  position: absolute;
  display: inline-block;
left:23.5%;
top:38.6%;
}
/* Tooltip text */
.tooltiptext31 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip31 .tooltiptext31::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip31:hover .tooltiptext31 {
  visibility: visible;
  opacity: 1;
}







/* Tooltip container */
.tooltip32 {
  position: absolute;
  display: inline-block;
left:21%;
top:38.6%;
}
/* Tooltip text */
.tooltiptext32 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip32 .tooltiptext32::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip32:hover .tooltiptext32 {
  visibility: visible;
  opacity: 1;
}






/* Tooltip container */
.tooltip33 {
  position: absolute;
  display: inline-block;
left:26.4%;
top:38.6%;
}
/* Tooltip text */
.tooltiptext33 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip33 .tooltiptext33::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip33:hover .tooltiptext33 {
  visibility: visible;
  opacity: 1;
}






/* Tooltip container */
.tooltip34 {
  position: absolute;
  display: inline-block;
left:30.3%;
top:38.6%;
}
/* Tooltip text */
.tooltiptext34 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip34 .tooltiptext34::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip34:hover .tooltiptext34 {
  visibility: visible;
  opacity: 1;
}






/* Tooltip container */
.tooltip35 {
  position: absolute;
  display: inline-block;
left:40%;
top:68.6%;
}
/* Tooltip text */
.tooltiptext35 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: arial;
  font-weight: lighter;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip35 .tooltiptext35::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip35:hover .tooltiptext35 {
  visibility: visible;
  opacity: 1;
}

























  



  


































  






















  



  









































  



  


































  






















  



  


































  


















  



  


































  



  











